body {
    font-family: 'Raleway', sans-serif;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr auto;
}

/* .wrapper {
    flex-grow: 1;
} */

.navbar-nav-left .nav-link {
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 14px;
    padding-right: 20px;
}

.navbar-light .navbar-nav-left .nav-link {
    padding: .5rem 25px;
}

.navbar-right-icon {
    margin-right: 10px;
}

.navbar-nav .dropdown-menu {
    padding: 25px;
    border: 1px solid #e5e5e5;
    position: relative;
}

.navbar-nav .dropdown-menu:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 10px solid #f1f1f1;
    display: inline-block;
    position: absolute;
    bottom: 100%;
}

.navbar-nav .dropdown-item:focus,
.navbar-nav .dropdown-item:hover {
    background-color: transparent;
    color: #a7171a;
}

.navbar-nav .dropdown-item {
    padding: 7px 1rem;
}

.search-line {
    background-color: #f2f4f6;
    padding: 15px 0;
    position: relative;
}

.search-line-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-form {
    max-width: 240px;
    margin-left: auto;
    position: relative;
}

.form-input {
    padding: 20px 14px;
    font-size: 14px;
    border: 1px solid #e5e5e5;
}

.form-input::placeholder {
    color: #272727;
}

.search-form .form-input {
    width: 100%;
}

.form-submit {
    background-image: url(../img/search-icon.svg);
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: 0;
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    /* 8px - это половина от высоты элемента */
    right: 12px;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-indicators [data-bs-target] {
    background-color: rgba(0, 0, 0, .7);
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin: 0 10px;
}

.carousel-text {
    position: absolute;
    top: 35%;
    left: 15%;
}

.carousel-item-heading {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-carousel {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid black;
    padding: 16px 50px;
    border-radius: 0;
}

.center {
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin: 25px 0;
    letter-spacing: 2px;
}

.category-sect {
    padding: 20px 0;
}

.category-item {
    position: relative;
    text-align: center;
    height: 220px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.category-img {
    transform: translateY(20px);
}

.ci-1 {
    background-color: #ebdbe4;
}

.ci-2 {
    background-color: #ebe1db;
}

.ci-3 {
    background-color: #dbe5eb;
}

.ci-4 {
    background-color: #d2dccf;
}

.category-heading,
.category-desc {
    position: absolute;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
}

.category-heading {
    color: #d7795f;
    font-size: 26px;
    top: 30px;
    left: 50px;
}

.category-desc {
    font-size: 14px;
    top: 65px;
    left: 35px;
}

.ci-2 .category-heading {
    top: 55px;
    left: 190px;
}

.ci-2 .category-desc {
    top: 35px;
    left: 216px;
}

.ci-3 .category-heading {
    top: 55px;
    left: 0;
    right: 0;
}

.ci-3 .category-desc {
    top: 35px;
    left: 0;
    right: 0;
}

.ci-4 .category-heading {
    top: 30px;
    left: 175px;
}

.ci-4 .category-desc {
    top: 65px;
    left: 210px;
}

.product-sect {
    background-color: #f3f5f7;
    padding: 20px 0 180px;
}

.product-item {
    background-color: white;
    padding: 55px 45px 45px;
    text-align: center;
    position: relative;
}

.product-plaque {
    position: absolute;
    text-transform: uppercase;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: 700;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: grey;
}

.product-plaque-sale {
    background-color: #a7171a;
}

.product-plaque-new {
    background-color: #56bcab;
}

.product-img {
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 15px;
    min-height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-name {
    font-size: 14px;
}

.product-price {
    font-size: 14px;
    font-weight: 700;
}

.product-name,
.product-price {
    margin-bottom: 8px;
}

.product-desc {
    font-size: 12px;
    color: #848484;
    margin-bottom: 0;
}

/* урок по гриду */
.grid-container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    justify-items: center;
}

.feature-img {
    margin-bottom: 20px;
    width: 100%;
}

.slick-dots li button:before {
    font-size: 12px;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.logo-slider.slick-slider {
    margin: 70px 0;
}

.slick-dots {
    bottom: -40px;
}

.slick-slide img {
    margin: auto;
}

.footer-line {
    border-top: 1px solid #eaeaea;
    padding: 50px;
}

.footer-phone {
    display: flex;
}

.footer-phone-icon {
    margin-right: 20px;
}

.footer-phone-icon i {
    font-size: 46px;
    color: #666;
}

.footer-phone-text .footer-heading {
    margin: 0;
}

.footer-phone-link {
    font-size: 24px;
    text-decoration: none;
    color: #686868;
}

.footer-heading {
    color: #686868;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-link {
    margin: 0;
}

.footer-link i+a {
    margin-left: 10px;
}

.footer-link i {
    color: #686868;
}

.footer-link a {
    text-decoration: none;
    color: #686868;
    font-size: 12px;
}

.email-form {
    max-width: 100%;
}

.email-form .form-input {
    padding: 14px;
}

.email-form .form-submit {
    background-image: url(../img/email-form-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.social-icons {
    margin: 40px 0 0;
}

.social-icons a {
    font-size: 20px;
    color: #7d7d7d;
    margin-right: 20px;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
    background-color: #989898;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    transition: .3s;
}

.scroll-top:hover {
    background-color: #333;
}


/* category page */
.breadcrumb {
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.breadcrumb-item a,
.breadcrumb-item.active {
    color: #333;
    font-size: 12px;
    text-decoration: none;
}

.category-page-sect {
    background-color: #f3f5f7;
    padding: 20px 0;
}

.input-price-range {
    background-color: transparent;
    outline: none;
    border: 0;
}

.ui-slider-horizontal {
    height: 1px;
}

.ui-slider-range {
    background: #717171;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -10px;
}

@media (max-width: 1280px) {
    .category-item {
        margin: 20px 0;
        height: 280px;
    }
}

@media (max-width: 992px) {
    .product-item {
        margin: 20px 0;
    }

    .search-line-text {
        position: static;
        transform: initial;
    }

    .search-form {
        margin-left: 0;
    }

    .category-heading,
    .category-desc {
        position: static;
    }

    .category-item {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px;
    }

    .category-img {
        transform: initial;
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-img {
        width: auto;
    }

    .footer-heading {
        margin: 20px 0 10px;
    }
}

@media (max-width: 576px) {
    body {
        display: block;
    }

    .carousel-item-heading {
        font-size: 18px;
    }

    .btn-carousel {
        font-size: 12px;
        padding: 10px 15px;
    }

    .carousel-text {
        top: 20%;
        left: 10%;
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }
}

@media (max-width: 375px) {
    .carousel-item-heading {
        font-size: 14px;
    }

    .btn-carousel {
        font-size: 10px;
        padding: 6px 10px;
    }
}